/* Style.css */

body {
  background-color: sky blue; /* Blue */
}

.container {
  margin-top: 50px;
}

.form-container {
  background-color: #f1f8ff; /* Light Blue */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #007bff; /* Blue */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.btn-primary {
  background-color: #28a745; /* Green */
  border-color: #28a745;
}

.btn-primary:hover {
  background-color: #218838; /* Dark Green */
  border-color: #218838;
}

a {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #dc3545; /* Red */
}

a:hover {
  color: #c82333; /* Dark Red */
}
